<mat-card>
  <form class="" (ngSubmit)="respondToRequest()" #profileForm="ngForm">
    <mat-card-title>Meeting Request</mat-card-title>
    <mat-form-field>
        <input matInput [matDatepicker]="reqDatePicker" placeholder="Date" name="meeting_date" disabled="true">
        <mat-datepicker-toggle matSuffix [for]="reqDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #reqDatePicker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="time" placeholder="Time" name="meeting_time" disabled="true">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Location" type="text" name="location" disabled="true">
      </mat-form-field>
    </form>
    <mat-card-actions>
      <button mat-raised-button id="acceptButton" onclick="acceptRequest">
        Accept
      </button>
      <button mat-raised-button id="declineButton" onclick="declineRequest">
        Decline
      </button>
    </mat-card-actions>
    <button type="button" name="button" (click)="getConversation()">Testing</button>
</mat-card>
