<mat-form-field>
  <input matInput type="text" placeholder="First Name" name="first_name" [(ngModel)]="user.first_name" required>
</mat-form-field>
<mat-form-field>
  <input matInput type="text" placeholder="Last Name" name="last_name" [(ngModel)]="user.last_name" required>
</mat-form-field>
<mat-form-field>
  <input matInput type="text" placeholder="Phone" name="phone" [(ngModel)]="user.phone">
</mat-form-field>
<br>
<mat-form-field>
  <input matInput type="password" placeholder="Old Password" name="password" [(ngModel)]="oldPass">
</mat-form-field>
<mat-form-field>
  <input matInput type="password" placeholder="New Password" name="newPass" [(ngModel)]="newPass">
</mat-form-field>
<mat-form-field>
  <input matInput type="password" placeholder="Re-Type New Password" name="duplicatePass" [(ngModel)]="duplicatePass">
</mat-form-field>
<br>
<mat-form-field>
  <input matInput type="text" placeholder="Bio" name="bio" [(ngModel)]="user.bio">
</mat-form-field>
