{% extends "base.html" %}

{% block title %}Staff Home - {{ super() }}{% endblock %}

{% block body %}
    <h2>Events You're Working</h2>
    <ul>
        {% for signup in signups %}
            <li>
                <b>{{ signup.event.title }}</b> {{ signup.event.date }}
            </li>
        {% else %}
            <li><b>You're not scheduled to work any events.</b></li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Events You Can Sign Up to Work</h2>
    <ul>
        {% for event in events %}
            <li>
                <b>{{ event.title }}</b> {{ event.date }}
                <a href="{{ url_for('signup', event_id = event.event_id) }}">Sign Up</a>
            </li>
        {% else %}
            <li><b>No events available.</b></li>
        {% endfor %}
    </ul>
{% endblock %}