<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
            <title>{%block title%}Patton Chats{% endblock %}</title>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <script>
                        var messages = {{ messages | safe }};
                        for (var i=0; i<messages.length; i++) {
                            alert(messages[i]);
                        }
                    </script>
                {% endif %}
            {% endwith %}
        {% endblock %}
    </head>
    {% block body %}
        <body>
            {% if username %}
                <div class="logout">Logged in as {{ username }}, <a href="{{ url_for('logout') }}">Logout</a></div>
                <br>
            {% endif %}
            <br>
            {% block content %}
            {% endblock %}
        </body>
    {% endblock %}
</html>