{% extends "base.html" %}

{% block title %}{{ room.name }} - {{ super() }}{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        var username = "{{ username }}";
        var room_id = parseInt("{{ room.room_id }}");
    </script>
    <script src="{{ url_for('static', filename='chatty.js') }}"></script>
{% endblock %}
{% block content %}
    <a href="{{ url_for('rooms') }}"><--- Back to Room List</a>
    <div id="roomTitle">{{ room.name }}</div>
    <div id="chatWrapper">
        <div id="chatContent"></div>
        <div id="newMessageWrapper">
            New Message:
            <br>
            <input type="text" id="newMessage"> <button type="submit" id="sendButton" onclick="sendNewMessage()">Send</button>
        </div>
    </div>
{% endblock %}