h1 {
    width: 100%;
    text-align: center;
}
.formWrapper {
    text-align: center;
    margin: auto;
}
form {
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
    display: inline-block;
    white-space: nowrap;
    text-align: right;
    margin-left: 10px;
}
.formTitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
#deleteCat .formTitle {
    color: red;
}
.formField {
    margin-bottom: 10px;
}
.submitButton {
    margin: auto;
}
#outerWrapper {
    text-align: center;
}
.category {
    margin-top: 20px;
    color: white;
    background-color: black;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    padding: 6px;
}
.catTitle {
    margin-bottom: 6px;
}
.catContent {
    background-color: white;
    color: black;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}