<mat-toolbar>
    <div id="leftStuff">
        <button mat-icon-button>
            <mat-icon id="homeButton">home</mat-icon>
        </button>
        <div id="topBarTitle">StudyConnect</div>
    </div>
    <div id="rightStuff">
        <button mat-icon-button>
            <mat-icon id="notificationButton">notifications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon id="accountButton">account_circle</mat-icon>
        </button>
    </div>
    
</mat-toolbar>
